
.lrg-img-background {
  height: 110vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.row {
    text-align: center;
}

.home-message-title {
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 2em;
    background: rgba(120, 120, 120, 0.3);
    width: 500px;
}

.home-message {
    float: bottom;
    font-size: 1em;
    text-align: center;
    color: white;
    background: rgba(192, 192, 192, 0.3);
    width: 500px;
}

.small-img-1 {
    height: 250px;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg);
}

.small-img-2 {
    height: 250px;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari */
  transform: rotate(5deg);
}

.small-img-3 {
    height: 250px;
  -ms-transform: rotate(-12deg); /* IE 9 */
  -webkit-transform: rotate(-12deg); /* Safari */
  transform: rotate(-12deg);
}

.contact-form {
    padding: 30vh 5vh;
}

#mySVG {
/*  position: fixed;*/
/*  top: 15%;*/
  width: 400px;
  height: 210px;
  margin-left:-50px;
}