.lrg-img-background {
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.row {
    text-align: center;
}

#scrolldown {
    color: white;
    margin: 30% 45% 0 45%
}

.home-message-title {
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 2em;
    background: rgba(120, 120, 120, 0.3);
    width: 500px;
}

.home-message {
    float: bottom;
    font-size: 1em;
    text-align: center;
    color: white;
    background: rgba(192, 192, 192, 0.3);
    width: 500px;
}

.slide2-message-title {
    display: inline-block;
    text-align: center;
    margin-top: 35%;
    margin-left: 50%;
    color: white;
    font-size: 2em;
    background: rgba(100, 100, 100, 0.8);
    width: 500px;
    opacity: 0;
}

.slide2-message {
    float: bottom;
    font-size: 1em;
    margin-left: 50%;
    text-align: center;
    color: white;
    background: rgba(150, 150, 150, 0.6);
    width: 500px;
    opacity: 0;
}

.slide3-message-title {
    display: inline-block;
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
    color: white;
    font-size: 2em;
    background: rgba(100, 100, 100, 0.8);
    width: 500px;
    opacity: 0;
}

.slide3-message {
    float: bottom;
    font-size: 1em;
    margin-left: 20%;
    text-align: center;
    color: white;
    background: rgba(150, 150, 150, 0.6);
    width: 500px;
    opacity: 0;
}

.small-img-1 {
    position: fixed;
    top: 120%;
    left: 2%;
    height: 250px;
  box-shadow: 10px 10px 5px black;
/*
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
*/
}

.small-img-2 {
    position: fixed;
    top: 120%;
    left: 40%;
    height: 250px;
  box-shadow: 20px 20px 5px black;
/*
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
*/
}

.small-img-3 {
    position: fixed;
    top: 120%;
    right: 2%;
    height: 250px;
  box-shadow: 15px 15px 5px black;
/*
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
*/
}

.small-img-4 {
    position: fixed;
    top: 120%;
    left: 2%;
    height: 250px;
  box-shadow: 15px 15px 5px black;
/*
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
*/
}

.small-img-5 {
    position: fixed;
    top: 120%;
    left: 40%;
    height: 250px;
  box-shadow: 5px 5px 5px black;
/*
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
*/
}

.small-img-6 {
    position: fixed;
    top: 120%;
    right: 2%;
    height: 250px;
  box-shadow: 17px 17px 5px black;
/*
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
*/
}
.small-img-7 {
    position: fixed;
    top: 120%;
    left: 2%;
    height: 250px;
  box-shadow: 12px 12px 5px black;
/*
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
*/
}

.small-img-8 {
    position: fixed;
    top: 120%;
    left: 40%;
    height: 250px;
  box-shadow: 4px 4px 5px black;
/*
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
*/
}

.small-img-9 {
    position: fixed;
    top: 120%;
    right: 2%;
    height: 250px;
  box-shadow: 10px 10px 5px black;
/*
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
*/
}
.contact-form {
    padding: 30vh 5vh;
}

#slide4-SVG {
    /*  position: fixed;*/
    top: 30%;
    left: 30%;
    width: 802px;
    height: 402px;
    opacity: 0;
}
