<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>
    <div class="lrg-img-background" style="background-image: url('/images/Old-European-Halo-Engagement-Ring-on-Purple-Background.jpg')">
        <div class="home-message-title" onload="loadContent(this, 'home-message-title')"></div>
        <div class="home-message"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><img class="small-img-1" src="/images/w400-903990nYNWfN7C.jpg"></div>
        <div class="col-sm-4"><img class="small-img-2" src="/images/w400-903990vY9HmRU8.jpg"></div>
        <div class="col-sm-4"><img class="small-img-3" src="/images/photo-1470321386428-4b1668f21ad3.jpg"></div>
    </div>
    <div class="lrg-img-background" style="background-image: url('/images/store-pic-2.jpg')">
    
    </div>
    <div></div>
    <div class="lrg-img-background" style="background-image: url('/images/store-pic-2.jpg')">
    
    </div>
    <div></div>
    <div class="lrg-img-background" style="background-image: url('/images/store-pic-2.jpg')">
    
    </div>
    <div class="contact">
    
    </div>
    <!--<img src="/images/Old-European-Halo-Engagement-Ring-on-Purple-Background.jpg">-->
<script>
    $(document).ready(function(){
        loadContent($(".home-message-title"), "home-message-title");
        loadContent($(".home-message"), "home-message");
    });
                      
    function loadContent(element, location) {
        $.get('/api/content', { location: location }, function(data) {
            element.text(data.value);
            console.log(data.value);
        });
    }
              
    </script>

</body>

</html>
