<!DOCTYPE html>
<html>

<head>
    <title>Postal Price</title>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Operation Result</h3>
        </div>
        <div class="panel-body">
            <% if (price == 0) { %>
            <p>Invalid weight entered</p>
            <% } else { %>
            <p>The price of "<%= type %>" weighing <%= weight %>oz is: $<%= Number(price).toFixed(2); %></p>
            <% } %>
        </div>
    </div>
</body>

</html>
